:root {
/* Fonts */  

/* Text collors */
--title-text-color: rgba(33, 33, 33, 1);
--secondary-text-color: rgba(117, 117, 117, 1);
--accent-text-color: rgba(33, 150, 243, 1);
--other-text-color: rgba(255, 255, 255, 1);

/* Background collors */
--main-bg-cl: rgba(255, 255, 255, 1);
--banner-background-color: rgba(47, 48, 58, 1);
--accent-background-color: rgba(33, 150, 243, 1);
--button-hover-background-color: rgb(22, 106, 175);
--button-focus-background-color: rgb(26, 77, 119);
/* Other */

}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #F5F5F5;
}
/* Селектори класів*/

/*header*/
.logo {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;    
    letter-spacing: 0.03em;
}
.logo .logo_new {
    color: var(--accent-text-color);
}
/*.logo .logo_end {
    color: rgba(0, 0, 0, 1);
}*/
.header .link:hover,
.header .link:focus {
   color: var(--accent-text-color);
}
.list_item_accent,
.list_item {    
    font-weight: 500;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.02em;    
}
.list_item_accent {
color: var(--accent-text-color);
}
.list_item {
    color: var(--title-text-color);
}

/*Banner*/
.section_banner {
    background-color: var(--banner-background-color);
    color: var(--other-text-color);
}
.section_banner .section_banner_subject {        
    font-weight: 900;
    font-size: 44px;
    line-height: calc(60 / 44);
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;       
}
.section_banner .button_banner {        
    font-weight: 700;
    font-size: 16px;
    line-height: calc(30 / 16);    
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;      
    cursor: pointer;      
}
.button_banner {
    color: var(--other-text-color);
    background-color: var(--accent-background-color);
}
.button_banner:hover {
    background-color: var(--button-hover-background-color);
    color: var (-other-text-color);
}
.button_banner:focus {
    background-color: var(--button-focus-background-color);
    color: var (-other-text-color);
}

/* reset */
.link {
    text-decoration: none;
    color: currentColor;
}
.list {
    list-style: none;
}


