:root {
/* Fonts */  

/* Text collors */
--basic-text-color: rgba(117, 117, 117, 1);
--title-text-color: rgba(33, 33, 33, 1);
--secondary-text-color: rgba(255, 255, 255, 1);
--accent-text-color: rgba(33, 150, 243, 1);

/* Background collors */
--main-background-color: rgba(255, 255, 255, 1);
--banner-background-color: rgba(47, 48, 58, 1);
--team-background-color: rgba(245, 244, 250, 1);
--accent-background-color: rgba(33, 150, 243, 1);

/* Other */

}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--main-background-color);
    color: var(--basic-text-color);
}
/* reset */
.link,
.logo, 
.link_second,
.link_third {
    text-decoration: none;
    font-style: normal;
}

.list {
    list-style: none;   
    display: block;
}

/*header*/
/*.header {
    position: absolute;
    width: 1600px;
    height: 80px;
    left: 0px;
    top: 0px;
}*/
.logo {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: calc(31 / 26);
    letter-spacing: 0.03em;
}
.logo .logo_new {
    color: var(--accent-text-color);
}
.logo .logo_end {
    color: rgba(0, 0, 0, 1);
}
.header .link:hover,
.header .link:focus {
   color: var(--accent-text-color);
}
.list_item {    
    font-weight: 500;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.02em;    
}
.link {
    color: var(--title-text-color);
}

/*Banner*/
.section_banner {
    background-color: var(--banner-background-color);    
    /*position: absolute;
    width: 1600px;
    height: 600px;
    left: 0px;
    top: 80px;*/
}
.section_banner .section_banner_subject {        
    font-weight: 900;
    font-size: 44px;
    line-height: calc(60 / 44);
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;       
}
.section_banner .button_banner {    
    /*position: absolute;
    width: 216px;
    height: 50px;
    left: 692px;
    top: 430px;
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);*/
    border-radius: 4px;

    font-weight: 700;
    font-size: 16px;
    line-height: calc(30 / 16);    
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;      
    cursor: pointer;   
    margin: 0 auto;
}
.section_banner_subject {
    color: var(--secondary-text-color);
}
.button_banner {
    color: var(--secondary-text-color);
    background-color: var(--accent-background-color);
}

/* main content */
.section_main .section_title {
    font-weight: 700;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--title-text-color);
}
.section_main .section_text {    
    font-size: 14px;
    line-height: calc(24 / 14);
    letter-spacing: 0.03em;
    /*color: var(--secondary-text-color);*/
}
/* work, team  */
.section_work .section_title,
.section_team .section_title {
    font-weight: 700;
    font-size: 36px;
    line-height: calc(42 / 36);
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
}
/* team */
.section_team {
    background-color: var(--team-background-color);    
    /*position: absolute;
    width: 1600px;
    height: 648px;
    left: 0px;
    top: 1446px;*/       
}
.section_team .team_name {
    font-weight: 500;
    font-size: 16px;
    line-height: calc(19 / 16);
    text-align: center;
    letter-spacing: 0.03em;    
}
.section_team .team_item {
    font-weight: 400;
    font-size: 16px;
    line-height: calc(19 / 16);
    text-align: center;
    letter-spacing: 0.03em;
}
.team_name {
color: var(--title-text-color);
}

/* footer */
.footer {
background-color: var(--banner-background-color);
}
.logo_another {
    color: var(--secondary-text-color);
}
.link_second,
.link_third {
    color: var(--secondary-text-color);
    font-weight: 400;
    font-size: 14px;
    line-height: calc(24 / 14);
    letter-spacing: 0.03em;
}
.link_third {
    color: rgba(255, 255, 255, 0.6);    
}

/*portfolio*/

.button_portfolio {
    height: 38px;
    width: 112px;
    left: 726px;
    top: 174px;
    border-radius: 4px;

    font-weight: 500;
    font-size: 16px;
    line-height: calc(26 / 16);
    text-align: center;
    letter-spacing: 0.03em;
    background-color: var(--team-background-color);
    color: var(--title-text-color);
}
.button_portfolio:hover {
    background-color: var(--accent-background-color);
}
.portfolio_header {
    font-weight: 700;
    font-size: 18px;
    line-height: calc(36 / 18);
    letter-spacing: 0.06em;
    color: var(--title-text-color);
    }
.portfolio_text {
    font-weight: 400;
    font-size: 16px;
    line-height: calc(30 / 16);
    letter-spacing: 0.03em;
}

